/* =========================
   FORMULÁRIO
========================= */

#userForm {
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
}

#userForm label {
    margin-bottom: 8px;

    font-weight: bold;
}

#userForm input {
    width: 100%;

    padding: 14px;

    margin-bottom: 20px;

    border: 1px solid #999;
    border-radius: 8px;

    font-size: 16px;

    transition: border-color 0.2s, box-shadow 0.2s;
}

#userForm input:focus {
    outline: none;

    border-color: var(--principal-color);
    box-shadow: 0 0 0 3px rgba(55, 0, 92, 0.15);
}

#btnRegister:disabled {
    background-color: #808080;
    cursor: not-allowed;
}

#userForm input[type="submit"] {
    margin-top: 10px;

    padding: 14px;

    border-radius: 8px;

    font-size: 16px;
    font-weight: bold;

    background-color: var(--principal-color);
    color: white;

    border: none;

    cursor: pointer;

    transition: 0.3s;
}

#userForm input[type="submit"]:hover {
    background-color: #2a0068;
}
